header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC970;
    width: 1920px;
    height: 72px;
    margin: 30px;

    a{
        display: grid;
        justify-items: center;
        gap: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: #444444;
        padding: 10px;
        margin: 15px;
    }
    a:hover{
        color: #00579F;
        background-color: rgba(255, 255, 255, 0.234);
        border-radius: 10%;
    }
}

