.home{
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: #FFFFFF;
    width: 70%;
    height: 80%;
    margin: 60px;
    padding: 50px;
}
.title{
    text-align: center;
}
.content{
    margin: 50px 30px;
}